<div class="container-lg d-flex flex-column align-items-center">

  <h1>Dojo Weather Forecast</h1>
  <nav>
    <a class="me-3" routerLink="/city/5809844">Seattle</a>
    <a class="me-3" routerLink="/city/5397777">South San Jose Hills</a>
    <a class="me-3" routerLink="/city/4885983">Burbank</a>
    <a class="me-3" routerLink="/city/5186266">Dallas</a>
    <a class="me-3" routerLink="/city/4140963">Washington</a>
    <a class="me-3" routerLink="/city/4887398">Chicago</a>
  </nav>
  <router-outlet></router-outlet>
</div>